@use '@/style/mixins/mixins' as *;
$time-period-width: 72px;
$col-height: var(--col-h);
$border: 1px solid $color-border-2;

@include cls('day') {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-grid {
    width: 100%;
    min-height: 100%;
    display: flex;

    &-layout {
      width: 100%;
      position: relative;
      background: linear-gradient(
          to bottom,
          $color-border-2 0px,
          $color-border-2 1px,
          #fff 1px,
          #fff 100%
        )
        repeat-y;
      background-size: 100% $col-height;
      &-col {
        height: $col-height;
        border-bottom: $border;
        box-sizing: border-box;
        &:last-of-type {
          border-bottom: 0;
        }
      }
    }
  }
}

// 左侧时间线
@include cls('time-line') {
  width: $time-period-width;
  min-height: 100%;
  border-right: $border;
  flex-shrink: 0;
  &-col {
    height: $col-height;
    box-sizing: border-box;

    position: relative;
    &-label {
      line-height: 24px;
      position: absolute;
      width: 100%;
      text-align: center;
      top: -12px;
      font-size: 12px;
      color: $color-text-2;
    }
    &:first-of-type {
      @include cls('time-line-col-label') {
        display: none;
      }
    }
    &:last-of-type {
      @include cls('time-line-col-label') {
        bottom: 0;
      }
    }
  }
}

// 表头日程
@include cls('today-schedule-item') {
  width: 100%;
  height: 24px;
  background: rgb($gray-6...);
  margin-top: 4px;
  border-radius: 4px;
  @include vertical-decorate-line(rgb($primary-3...));

  box-sizing: border-box;
  &:first-of-type {
    margin-top: 0;
  }
}

@include cls('grid-scrollbar') {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  border: $border;
}

@include cls('grid-box') {
  position: absolute;
}

// 时间线
@include cls('time-indicate-line') {
  width: 100%;
  height: 1px;
  background: rgb($primary-4...);
  position: absolute;
  left: 0;
  z-index: 9;
  $indicate-dot-size: 8px;
  &::before {
    position: absolute;
    display: block;
    content: '';
    width: $indicate-dot-size;
    height: $indicate-dot-size;
    background: rgb($primary-6...);
    left: -$indicate-dot-size / 2;
    top: -$indicate-dot-size / 2;
    border-radius: 100%;
  }
}
