@use '@/style/mixins/mixins' as *;
// 日程卡片
@include cls('time-content') {
  background-color: rgb($gray-6...);
  border-radius: $border-radius-medium;
  box-sizing: border-box;
  box-shadow: $shadow1-center;
  min-height: 24px;
  width: 100%;
  height: 100%;
  @include vertical-decorate-line(rgb($primary-3...));
}
